	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/10/2018 16:39
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../../public/assets/fonts/Flaticon.eot");
  src: url("../../public/assets/fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../../public/assets/fonts/Flaticon.woff") format("woff"),
       url("../../public/assets/fonts/Flaticon.ttf") format("truetype"),
       url("../../public/assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../public/assets/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-website:before { content: "\f100"; }
.flaticon-computer:before { content: "\f101"; }
.flaticon-bar-chart:before { content: "\f102"; }
.flaticon-computer-graphic:before { content: "\f103"; }
.flaticon-graphic-design:before { content: "\f104"; }
.flaticon-programming:before { content: "\f105"; }
.flaticon-layout:before { content: "\f106"; }
.flaticon-content:before { content: "\f107"; }
.flaticon-testimonial:before { content: "\f108"; }
.flaticon-home:before { content: "\f109"; }
.flaticon-home-page:before { content: "\f10a"; }
.flaticon-resume:before { content: "\f10b"; }
.flaticon-settings:before { content: "\f10c"; }
.flaticon-library:before { content: "\f10d"; }
.flaticon-chat:before { content: "\f10e"; }
.flaticon-video-conference:before { content: "\f10f"; }
.flaticon-quotes:before { content: "\f110"; }
.flaticon-star-1:before { content: "\f111"; }
.flaticon-placeholder:before { content: "\f112"; }
.flaticon-telephone:before { content: "\f113"; }
.flaticon-chat-1:before { content: "\f114"; }
.flaticon-facebook-logo:before { content: "\f115"; }
.flaticon-twitter-logo-silhouette:before { content: "\f116"; }
.flaticon-skype-logo:before { content: "\f117"; }
.flaticon-dribbble-logo:before { content: "\f118"; }
.flaticon-envelope:before { content: "\f119"; }