<template>
    <main>
        <!-- breadcrumb_wrapper ares start here	 -->
        <div class="breadcrumb_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-title text-center">
                            <h2>Resume</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb_wrapper ares end here	 -->
        <!-- abou-myself-area start here -->
        <div class="abou-myself-area section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-title mt-35">
                            <h2>Hey ! <br /> Let’s  Introduce About <span>My Self.</span></h2>
                        </div>
                        <div class="about-myself">
                            <table>
                                <tr>
                                    <td><span>Name</span></td>
                                    <td> <b>:</b> </td>
                                    <td>Alexaa</td>
                                </tr>
                                <tr>
                                    <td><span>Date if Birth</span> </td>
                                    <td> <b>:</b> </td>
                                    <td>08-2-1988</td>
                                </tr>
                                <tr>
                                    <td><span>Phone</span> </td>
                                    <td> <b>:</b> </td>
                                    <td>+8854125000</td>
                                </tr>
                                <tr>
                                    <td><span>Email</span></td>
                                    <td> <b>:</b> </td>
                                    <td>youremail@website.com</td>
                                </tr>
                                <tr>
                                    <td><span>Website</span></td>
                                    <td> <b>:</b> </td>
                                    <td><a href="#">www.yourwebsite.com</a></td>
                                </tr>
                            </table>
                            <div class="downlode-cv">
                                <a href="#" class="primary-btn">Download CV</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="my-self-img">
                            <img src="public/assets/images/myself/1.png" alt="meself">
                        </div>
                    </div>
                </div>
            </div>
            <div class="round-shape">
                <img src="public/assets/images/round.png" alt="leaf">
            </div>
        </div>
        <!-- abou-myself-area start here -->
        <!-- education reea start here		 -->
        <div class="education-area section-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title mt-35">
                            <h2>My Education <br /><span>Background History</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-deucation active">
                            <div class="education-info">
                                <h4>Themeforest School</h4>
                                <h5>Secondary School Certificate</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            </div>
                        </div>
                        <div class="year text-center">
                            <h4>2012-2014</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-deucation">
                            <div class="education-info">
                                <h4>Themeforest School</h4>
                                <h5>Secondary School Certificate</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            </div>
                        </div>
                        <div class="year text-center">
                            <h4>2012-2014</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-deucation">
                            <div class="education-info">
                                <h4>Themeforest School</h4>
                                <h5>Secondary School Certificate</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            </div>
                        </div>
                        <div class="year text-center">
                            <h4>2012-2014</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-deucation">
                            <div class="education-info">
                                <h4>Themeforest School</h4>
                                <h5>Secondary School Certificate</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            </div>
                        </div>
                        <div class="year text-center">
                            <h4>2012-2014</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-deucation">
                            <div class="education-info">
                                <h4>Themeforest School</h4>
                                <h5>Secondary School Certificate</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            </div>
                        </div>
                        <div class="year text-center">
                            <h4>2012-2014</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-deucation">
                            <div class="education-info">
                                <h4>Themeforest School</h4>
                                <h5>Secondary School Certificate</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            </div>
                        </div>
                        <div class="year text-center">
                            <h4>2012-2014</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leaf-left">
                <img src="public/assets/images/leaf-left.png" alt="leaf">
            </div>
            <div class="leaf-right">
                <img src="public/assets/images/leaf-right.png" alt="leaf">
            </div>
        </div>
        <!-- education reea start here		 -->
        <!-- skill area start here	 -->
        <div class="skill-area section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title mt-35">
                            <h2>My Professional <br /> Work Skills</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="single-skill text-center">
                            <div class="skill">
                                <h2>90%</h2>
                            </div>
                            <div class="skill-name">
                                <h4>Adobe Photoshop</h4>
                            </div>
                        </div>
                        <div class="single-skill text-center">
                            <div class="skill">
                                <h2>90%</h2>
                            </div>
                            <div class="skill-name">
                                <h4>Adobe Indesign</h4>
                            </div>
                        </div>
                        <div class="single-skill text-center">
                            <div class="skill">
                                <h2>90%</h2>
                            </div>
                            <div class="skill-name">
                                <h4>Adobe Illustrator</h4>
                            </div>
                        </div>
                        <div class="single-skill text-center">
                            <div class="skill">
                                <h2>90%</h2>
                            </div>
                            <div class="skill-name">
                                <h4>Adobe After Effect</h4>
                            </div>
                        </div>
                        <div class="single-skill text-center">
                            <div class="skill">
                                <h2>90%</h2>
                            </div>
                            <div class="skill-name">
                                <h4>Adobe Photoshop</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hire-btn text-right">
                            <a href="#" class="primary-btn">Hire Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- skill area start here	 -->
        <!-- work history area start here	 -->
        <div class="work-history-area section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title mt-35">
                            <h2>My Professional <br /><span>Work History</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-word active">
                            <div class="word-info">
                                <h4>Themeforest School</h4>
                                <h5>Secondary School Certificate</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            </div>
                        </div>
                        <div class="year text-center">
                            <h4>2012-2014</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-word">
                            <div class="word-info">
                                <h4>Themeforest School</h4>
                                <h5>Secondary School Certificate</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            </div>
                        </div>
                        <div class="year text-center">
                            <h4>2012-2014</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-word">
                            <div class="word-info">
                                <h4>Themeforest School</h4>
                                <h5>Secondary School Certificate</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            </div>
                        </div>
                        <div class="year text-center">
                            <h4>2012-2014</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leaf-right">
                <img src="public/assets/images/leaf-right.png" alt="leaf">
            </div>
        </div>
        <!-- work history area start here	 -->
        <!-- freelancer avaliable area start here		 -->
        <div class="freelancer-avaliable-area section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="freelancer-content">
                            <div class="section-title mt-35">
                                <h2>I’m Avaliable  <br /> for Freelancer Projects !</h2>
                            </div>
                            <p>Do you have any project Please Contact us!</p>
                            <div class="hire-btn">
                                <a href="#" class="primary-btn">Hire Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="freelancer-img text-right">
                            <img src="public/assets/images/freelancer/1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- freelancer avaliable area start here		 -->
        <!-- adhivement awards area start here -->
        <div class="adhivement-aware section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title mt-35">
                            <h2>Hey Folks ! <br /> <span>My Achivement Awards</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="award-img">
                            <img src="public/assets/images/award/1.png" alt="award">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-award">
                            <div class="award-top fix">
                                <div class="award-name pull-left">
                                    <h4>Best Motion Designer of the year </h4>
                                </div>
                                <div class="year pull-right">22-12-2018</div>
                            </div>
                            <div class="award-info">
                                <p>Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard dum text ever since the 1500s.</p>
                            </div>
                        </div>
                        <div class="single-award">
                            <div class="award-top fix">
                                <div class="award-name pull-left">
                                    <h4>Best Motion Designer of the year </h4>
                                </div>
                                <div class="year pull-right">22-12-2018</div>
                            </div>
                            <div class="award-info">
                                <p>Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard dum text ever since the 1500s.</p>
                            </div>
                        </div>
                        <div class="single-award">
                            <div class="award-top fix">
                                <div class="award-name pull-left">
                                    <h4>Best Motion Designer of the year </h4>
                                </div>
                                <div class="year pull-right">22-12-2018</div>
                            </div>
                            <div class="award-info">
                                <p>Lorem Ipsum is simply dummy text of the printing and typeset industry. Lorem Ipsum has been the industry's standard dum text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leaf-left">
                <img src="public/assets/images/leaf-left.png" alt="leaf">
            </div>
        </div>
        <!-- adhivement awards area end here -->
        <!-- footer area start here -->
    </main>
</template>

<script>
    export default {
        name: "Resume"
    }
</script>

<style scoped>

</style>