<template>
    <main>
        <!-- breadcrumb_wrapper ares start here	 -->
        <div class="breadcrumb_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-title text-center">
                            <h2>Services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb_wrapper ares end here	 -->
        <!-- service area start here	 -->
        <div class="service-area section service-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-title mt-35">
                            <h2>Wonderful! The <span>Services I Provide </span></h2>
                        </div>
                        <div class="service-info">
                            <div class="service-content">
                                <p>Lorem Ipsum is simply dummy text of the printing typesetting industry.
                                    Lorem Ipsum has been the industry's standard ever since the 1500s,
                                    when an unknown printer took a galley of type and .
                                </p>
                            </div>
                            <p> It was popularised in the 1960s with the release of t sheets containing
                                Lorem Ipsum passages, and more recently with desktop publishing
                                software like Aldus PageMaker including versions of Lorem Ipsum
                                Contrary to popular belief, Lorem Ipsum is not simply random text.
                                has roots in a piece of classical Latin literature from 45 BC, making  it
                                over 2000 years old It was popularised in the 1960s with the release of t sheets containing
                                Lorem Ipsum passages, and more recently with desktop publishing
                                over 2000 years old It was popularised in the 1960s with the release
                            </p>
                        </div>
                        <div class="expart-area">
                            <h4>We are Experts in: </h4>
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="barcontainer">
                                        <div class="bar bar1"><span class="title">Html 5</span></div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="barcontainer">
                                        <div class="bar bar2"><span class="title">CSS3</span></div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="barcontainer">
                                        <div class="bar bar3"><span class="title">Wordpress</span></div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="barcontainer">
                                        <div class="bar bar4"><span class="title">PHP</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-list">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-service text-center mb-60">
                                        <div class="service-icon">
                                            <span class="flaticon-website"></span>
                                        </div>
                                        <div class="service-title">
                                            <h4>UX Desgin</h4>
                                        </div>
                                        <div class="service-content">
                                            <p>Recently with desktop publishingsoftware like Aldus Page Maker</p>
                                        </div>
                                        <div class="service-btn">
                                            <a href="#" class="primary-btn">About More</a>
                                        </div>
                                    </div>
                                    <div class="single-service text-center">
                                        <div class="service-icon">
                                            <span class="flaticon-layout"></span>
                                        </div>
                                        <div class="service-title">
                                            <h4>Graphic Design</h4>
                                        </div>
                                        <div class="service-content">
                                            <p>Recently with desktop publishingsoftware like Aldus Page Maker</p>
                                        </div>
                                        <div class="service-btn">
                                            <a href="#" class="primary-btn">About More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-service text-center mb-60 mt-50">
                                        <div class="service-icon">
                                            <span class="flaticon-content"></span>
                                        </div>
                                        <div class="service-title">
                                            <h4>Web Development</h4>
                                        </div>
                                        <div class="service-content">
                                            <p>Recently with desktop publishingsoftware like Aldus Page Maker</p>
                                        </div>
                                        <div class="service-btn">
                                            <a href="#" class="primary-btn">About More</a>
                                        </div>
                                    </div>
                                    <div class="single-service text-center">
                                        <div class="service-icon">
                                            <span class="flaticon-computer"></span>
                                        </div>
                                        <div class="service-title">
                                            <h4>SEO Optimize </h4>
                                        </div>
                                        <div class="service-content">
                                            <p>Recently with desktop publishingsoftware like Aldus Page Maker</p>
                                        </div>
                                        <div class="service-btn">
                                            <a href="#" class="primary-btn">About More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leaf-right">
                <img src="public/assets/images/leaf-right.png" alt="leaf">
            </div>
        </div>
        <!-- service area end here	 -->
        <!-- freelancer avaliable area start here		 -->
        <div class="freelancer-avaliable-area section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="freelancer-content">
                            <div class="section-title mt-35">
                                <h2>I’m Avaliable  <br /> for Freelancer Projects !</h2>
                            </div>
                            <p>Do you have any project Please Contact us!</p>
                            <div class="hire-btn">
                                <a href="#" class="primary-btn">Hire Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="freelancer-img text-right">
                            <img src="public/assets/images/freelancer/1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- freelancer avaliable area start here		 -->
        <!-- happy clint area start here -->
        <div class="happy-clint-area section service-page">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title mt-35">
                            <h2>What <br /> <span>Happy Client Say ?</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="clint-img">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <a href="#" class="testimonial-one"><img src="public/assets/images/testimonial/1.png" alt="testimonail"></a>
                                </div>
                                <div class="col-sm-6 col-xs-12 text-right">
                                    <a href="#" class="testimonial-two "><img src="public/assets/images/testimonial/2.png" alt="testimonail"></a>
                                </div>
                                <div class="col-sm-12 col-xs-12 text-center">
                                    <a href="#" class="testimonial-three"><img src="public/assets/images/testimonial/3.png" alt="testimonail"></a>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <a href="#" class="testimonial-four"><img src="public/assets/images/testimonial/4.png" alt="testimonail"></a>
                                </div>
                                <div class="col-sm-6 col-xs-12 text-right">
                                    <a href="#" class="testimonial-five"><img src="public/assets/images/testimonial/5.png" alt="testimonail"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonial-slide">
                            <div class="single-testimonial text-center">
                                <div class="quote-icon">
                                    <span class="fa fa-quote-left"></span>
                                </div>
                                <div class="clint-name">
                                    <h3>Jhon Smith</h3>
                                    <h4>Creative Designer</h4>
                                </div>
                                <div class="clint-say">
                                    <p>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the industry's
                                        standard dummy text ever since the 1500s,</p>
                                </div>
                                <div class="clint-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-testimonial text-center">
                                <div class="quote-icon">
                                    <span class="fa fa-quote-left"></span>
                                </div>
                                <div class="clint-name">
                                    <h3>Jhon Smith</h3>
                                    <h4>Creative Designer</h4>
                                </div>
                                <div class="clint-say">
                                    <p>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the industry's
                                        standard dummy text ever since the 1500s,</p>
                                </div>
                                <div class="clint-review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div><div class="single-testimonial text-center">
                            <div class="quote-icon">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="clint-name">
                                <h3>Jhon Smith</h3>
                                <h4>Creative Designer</h4>
                            </div>
                            <div class="clint-say">
                                <p>Lorem Ipsum is simply dummy text of the printing
                                    and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s,</p>
                            </div>
                            <div class="clint-review">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div><div class="single-testimonial text-center">
                            <div class="quote-icon">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="clint-name">
                                <h3>Jhon Smith</h3>
                                <h4>Creative Designer</h4>
                            </div>
                            <div class="clint-say">
                                <p>Lorem Ipsum is simply dummy text of the printing
                                    and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text ever since the 1500s,</p>
                            </div>
                            <div class="clint-review">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leaf-left">
                <img src="public/assets/images/leaf-left.png" alt="leaf">
            </div>
        </div>
        <!-- happy clint area start here -->
    </main>
</template>

<script>
    export default {
        mounted(){
            $(".testimonial-slide").owlCarousel({
                autoPlay: true,
                slideSpeed:2000,
                pagination:true,
                navigation:false,
                items : 1,
                navigationText:["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
                itemsDesktop : [1199,1],
                itemsDesktopSmall : [980,1],
                itemsTablet: [768,1],
                itemsMobile : [479,1],
            });
        },
    }
</script>

<style scoped>

</style>